.SearchResults {
    margin-top: 30px;
    width: 40% !important;
    height: 650px;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;   
}

.SearchResults h2 {
    color: #FFD700 !important;
    font-size: 35px;
    padding: 0.5em;
    font-weight: bold;
}
  
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}