.SearchResults {
    margin-top: 30px;
    width: 40%;
    height: 550px;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.SearchResults .TrackList {
    width: 100%;
    overflow-y: scroll;
}

.SearchResults h2 {
    text-align: center;
    color: #FFD700 !important;
    font-size: 35px;
    padding: 0.5em;
    font-weight: bold;
}
  
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}