.Playlist{
    margin-top: 15px;
    width: 100%;
    height: 850px;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
}

.Playlist input{
    padding: 0;
    border: 1px solid #DDD5D7;
    font-size: 35px;
    text-align: center;
    outline: none;
    transition: color 0.3s ease, border-color 0.3s ease;
    color: #FFD700;
}

.Playlist input::placeholder{
    color: #4D0013;
}

.Playlist h2{
    width: 100%;
    color: #FFD700;
    font-size: 2em;
    text-align: center;
    margin-bottom: 1rem;
}

.Playlist input::placeholder{
    color: #4D0013;
}

.Playlist-save:hover {
    border: 1px solid #FFD700;
    box-shadow: 0px 0px 15px rgba(255, 195, 0, 0.5);
}

.Playlist-save {
    cursor: pointer;
    margin-top: 2rem;
    width: 300px;
    height: 50px;
    background-color: #FFCCD2;
    outline: none;
    color: #4D0013;
    text-align: center;
    font-size: 1.3em;
    border-radius: 4px;
    border: 2px solid #FFF8F0;
}

.Playlist .TrackList {
    width: 100%;
    height: calc(100% - 150px);
    overflow-y: scroll;
    padding: 0 1rem;
}

@media screen and (max-width: 1024px) {
  .Playlist {
    height: auto;
    min-height: 500px;
  }

  .Playlist-save {
    width: 80%;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .Playlist h2 {
    font-size: 1.5em;
  }

  .Playlist-save {
    width: 90%;
    font-size: 1em;
  }
}